// COLOURS
:root {
  // Glow Pride Rainbow colors
  --clr-1: #E40303;
  --clr-2: #FF8C00;
  --clr-3: #FFED00;
  --clr-4: #008026;
  --clr-5: #24408E;
  --clr-6: #732982;
  // Background
  --clr-7: rgb(176, 176, 176);
  // Dark Grey
  --clr-8: #2a2a2a;
  // Light Grey
  --clr-9: #4a4a4a;
  // White
  --clr-10: #ffffff;

}

// Body with Background
body {
  background-color: var(--clr-7);
  color: var(--clr-10);
  font-family: 'Poppins', sans-serif;
}

// Header Bar
.site-header {
color: #ffffff;
}
.header {
  font-size: x-large;
  margin: 2%;
  border-radius: 30px;
  color: var(--clr-8);
  padding-bottom: 1%;
  padding-right: 1%;
  padding-top: 0.3%;
  display: flex; /* Make the header a flex container */
  justify-content: space-between; /* Align content on opposite ends */
}

// Buttons
.buttons-container {
  display: flex; /* Make the button container a flex container */
}

.button {
  margin-left: 1em;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #ffffff;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  font-size: medium;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #E40303,
    #FF8C00,
    #FFED00,
    #008026,
    #24408E,
    #732982,
    #AC1743,
    #BF112E,
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-8);
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-1{
  @extend .button;
  z-index: 0;
}
.button-2 {
  @extend .button-1;
  z-index: 3;
}
.button-3 {
  @extend .button-2;
  z-index: 0;
}
// Boxs
.box {
  margin: 1%;
  margin-bottom: 3%;
  border-radius: 30px;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-top: 0.3%;
}
.hero-box {
  @extend .box;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero-box h1{
  align-items:flex-start;
}
.hero-box p {
  align-items: flex-end;
}
img {
  margin-top: 2%;
  max-width:20%;

}
.dark-box {
  @extend .box;
  background-color: var(--clr-8);

}

.light-box {
  @extend .box;
  background-color: var(--clr-9);
}

.white-box {
  @extend .box;
  background-color: var(--clr-9);
  
}
// Sets emoji instead of list dots
.emoji-list {
  list-style: none;
  padding: 1%;
  margin: 1%;
  li {
    padding-bottom: 1rem;
    text-indent: -0.7rem;
  }
  li::before {
    content: "✨";
  }
}

.project-box {
  @extend .box;
}

.pink-project{
  @extend .project-box;
}
// Working on making things GLOW

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {--gradient-angle: 0deg; }
  10% { --gradient-angle: 360deg; }
}

.box-to-glow {
  @extend .dark-box;
  position: relative;
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
  from var(--gradient-angle),
  var(--clr-1),
  var(--clr-2),
  var(--clr-3),
  var(--clr-4),
  var(--clr-5),
  var(--clr-6));
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.glow::after{
  filter: blur(1rem);
}